﻿@model Business.DomainModel.Restaurant

@{
    ViewBag.Title = "Index";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id)

    <h2>@Html.DisplayFor(model => model.Title)</h2>

    <table>
        <tr>
            <td>Name</td>
            <td>
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </td>
        </tr>
        <tr>
            <td>Phone number</td>
            <td>
                @Html.EditorFor(model => model.PhoneNumberText)
                @Html.ValidationMessageFor(model => model.PhoneNumberText, "The Phone Number is invalid.")
            </td>
        </tr>
    </table>

    <input type="submit" value="Save" />

    <div class="message-success">@ViewBag.Message</div>
}